.header {
  position: fixed;
  height: 100vh;
  font-family: $main-font;
  z-index: 1;

  &__logo-container {
    width: 100%;
    height: 160px;
    position: relative;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background-color: $highlight-color;
      width: 0;
      transition: width 0.3s ease;
      z-index: -1;
    }

    &:hover {
      &::after {
        width: 100%;
      }

      .header__logo-container__img {
          * {
            fill: $main-white-color;
          }
      }
    }

    &__img {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;


      & > div {
        width: 50px;
        //max-width: 130px;
        transition: width .5s ease;
      }

      svg {
        width: 100%;
        height: 50%;
      }
    }
  }

  &__menu {
    background-color: #202022;
    height: 100%;
    border-top: 1px solid $main-grey-color;

    &__item {
      position: relative;
      display: flex;
      align-items: center;
      height: 49px;
      cursor: pointer;

      &.active {
        background-color: #000;
        
        &::after {
          width: 4px;
        }
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        height: 100%;
        background-color: $highlight-color;
        width: 0;
        transition: width 0.3s ease;
      }

      &--active {
        width: 3%;
      }

      &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $header-width;
        z-index: 1;

        &__svg {
          * {
            transition: fill 0.2s ease;
            transition-delay: 0!important;
          }
        }

        &--circle {
          color: $main-light-grey-color;
          transition: color 0.2s ease;
        }
      }

      &__title {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 0;
        height: 42px;
        overflow: hidden;
        transition: width 0.5s ease, opacity 0.2s ease;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        color: $main-white-color;
        z-index: 1;
        opacity: 0;

        span {
          display: block;
          position: absolute;
          width: 200px;
        }
      }
    }

    &__separator {
      height: 1px;
      background-color: darken($main-light-grey-color, 25%);
    }
  }
}

@media (min-width: $breakpoint-mobile) {
  .header {
    &:hover {
      .header__logo-container__img > div {
        width: 120px;
      }

      .header__menu__item__title {
        opacity: 1;
        width: 128px;
      }

      & + .main {
        .items-page {
          transform: translateX(128px);
        }

        .item-page {
          transform: translateX(128px);
        }

        .item-page-header {
          transform: translateX(128px);
        }

        .item-page-scroll-module-wrapper {
          transform: translateX(128px);
        }

        .order-page {
          transform: translateX(128px);
        }

        .order-success-page {
          transform: translateX(128px);
        }

        .item-page-buy {
          transform: translateX(128px);
        }

        &::after {
          transform: translateX(128px);
          z-index: 5;
          opacity: .5;
        }
      }
    }

    &__menu {
      &__item {
        &:hover {
          &::after {
            width: 100%;
          }

          .header__menu__item__icon {
            &--circle {
              color: $main-white-color;
            }

            &__svg {
              * {
                fill: $main-white-color;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .header {
    &--opened {
      .header__logo-container__img > div {
        width: 120px;
      }

      .header__menu__item__title {
        opacity: 1;
        width: 128px;
      }

      & + .main {
        .items-page {
          transform: translateX(128px);
        }

        .item-page {
          transform: translateX(128px);
        }

        .item-page-header {
          transform: translateX(128px);
        }

        .item-page-scroll-module-wrapper {
          transform: translateX(128px);
        }

        .order-page {
          transform: translateX(128px);
        }

        .order-success-page {
          transform: translateX(128px);
        }

        .item-page-buy {
          transform: translateX(128px);
        }

        &::after {
          transform: translateX(128px);
          z-index: 5;
          opacity: .5;
        }
      }
    }

    &__menu {
      &__item {
        &__icon {
          width: $header-width-mobile;
        }
      }
    }
  }
}

@media (hover:none) {
  /* No hover support */
}