.item-page-landing {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__description {
    position: absolute;
    width: 300px;
    left: 50px;
    top: 110px;
    font-size: 52px;
    text-transform: uppercase;
    color: #fff;
  }

  &__image {
    height: 90%;
    background: no-repeat center center;
    background-size: cover;
  }
}

@media (max-width: $breakpoint-mobile) {
  .item-page-landing {
    height: calc(100vh - #{$header-width-mobile});

    &__description {
      width: 100%;
      top: 120px;
      left: 25px;

      h1 {
        font-size: 30px;
      }
    }
  }
}