.page-headline {
  height: 160px;
  display: flex;

  &__title {
    display: flex;
    align-items: center;

    h1 {
      text-transform: uppercase;
      margin: 0 20px;
      font-size: 52px;
      color: $highlight-color;
    }
  }
}

.hidden {
  display: none;
}

//elements

.button {
  padding: 8px 25px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background-color: $main-grey-color;
  transition: box-shadow .2s ease;
  cursor: pointer;

  &:hover {
    box-shadow: inset 0 0 10px #555;
  }
  
  &--red {
    background-color: $highlight-color;
  }
}