$main-font: 'Roboto', sans-serif;
$main-light-grey-color: #73737C;
$main-grey-color: #252529;
$main-grey-color--transparent: rgba(37, 37, 41, .8);
$highlight-color: #FF0013;
$highlight-color--transparent: rgba(255, 0, 19, .8);
$main-white-color: #fff;