.products-sidebar-item {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  border-bottom: 1px solid #000;

  &__image {
    width: 40%;

    img {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
    color: #fff;
    font-size: 14px;
    padding: 5px 0;

    &__name {
      font-size: 16px;
      color: $highlight-color;
      width: 100%;
    }

    &__bottom {
      display: flex;
      width: 100%;

      &__quantity {
        width: 50%;
      }

      &__price {
        width: 50%;
        text-align: right;
      }
    }
  }
}